.modal-dialog {
    max-width: 750px !important;
}
.modal-body {
    padding: 0 !important;
}
.poster-modal {
    width: 100%;
}


.checked {
    color: orange !important;
}
.fa-star {
    color: #ccc;
}



.reposicionamientoIn{
    position: relative;
    animation: animarIn 1s;
    animation-fill-mode: forwards;
    opacity: 1;
    transition: all 0.3s;
}
.reposicionamientoOut{
    position: relative;
    animation: animarOut 1s;
    animation-fill-mode: forwards;
    opacity: 1;
    transition: all 0.3s;
}


@keyframes animarIn {
    0% {
        opacity: 1;
        
    }
    40%{
        opacity: 0;
    }
    80%{
        opacity: 0;
        margin-left: 60%;
    }
    100%{
        opacity: 1;
        margin-left: 60%;
        
    }
}
@keyframes animarOut {
    0% {
        opacity: 1;
        
    }
    40%{
        opacity: 0;
    }
    80%{
        opacity: 0;
  
    }
    100%{
        opacity: 1;
   
        
    }
}