.reposicionamiento{
    position: relative;
    animation: animar 1s;
    animation-fill-mode: forwards;
    opacity: 1;
    transition: all 0.3s;
}
@keyframes animar {
    0% {
        opacity: 1;
        
    }
    40%{
        opacity: 0;
        top: 0;
    }
    80%{
        opacity: 0;
        top: 500px;
    }
    100%{
        opacity: 1;
        top: 500px;
        
    }
}